*{
  margin: 0;
  padding: 0;
}

body {
  
  height:  100vh;
  background: black;
  color: white;
  font-family: 'outfit';
}

code {
  font-family: source-code-pro, Menlo, Monao, Consolas, 'Courier New',
    monospace;
}
